:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-brown: #966f53;
  --color-primary-beige: #f0e7d3;
  --color-primary-dbrown: #4f0201;
  --color-primary-orange: #ffa24c;
  --color-primary-yellow: #ffda34;

  --color-beige-50: #fbf8f3;
  --color-beige-200: #f7f3e8;

  --color-brown-50: #e2d7cf;
  --color-brown-200: #c8b4a6;
  --color-brown-300: #b89d8a;
  --color-brown-400: #a7866f;

  --color-dbrown-200: #a37b7b;
  --color-dbrown-300: #875352;

  --color-yellow-100: #fff2b6;
  --color-yellow-200: #fff1b1;
  --color-yellow-300: #ffeb92;
  --color-yellow-400: #ffe570;

  --container-width: 1200px;
  --bellow-header: 5.25rem;

  --border-radius: 0.9375rem;
  --home-section-gap: 12rem;
}

html,
body,
#app {
  font-family: "Chiron GoRound TC", sans-serif !important;
  width: 100%;
  overflow: visible;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

body {
  /* width: 100vw; */
  margin: 0;
  display: flex;
  /* justify-content: center; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-beige-50);
}

/* 覆寫 Bootstrap 的 .modal-open 樣式 */
.modal-open {
  /* 這是 Bootstrap 用來移除滾動條的 CSS，你可能已經有這個設定 */
  overflow: hidden !important;

  /* **關鍵步驟：** 移除 Bootstrap 自動加入的 padding-right 補償 */
  padding-right: 0px !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  width: 75%;
  margin: var(--bellow-header) 0;
  max-width: 1200px;
  /* height: 100vh; */
  padding: 0;
}

.divider {
  height: 1px;
  background-color: var(--color-primary-brown);
  opacity: 0.5;
  margin: 3rem 0;
}

input {
  background-color: rgb(255, 255, 255, 0);
  color: black;
}

textarea {
  resize: none;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  border-color: #646cff;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-default {
  background-color: var(--color-primary-brown);
  color: white;
}

.row {
  padding: 0;
  margin: 0;
}

.row > * {
  padding: 0;
}

input:focus,
textarea:focus {
  outline: none;
}

.back {
  position: fixed;
  left: 0.5rem;
  top: calc(var(--bellow-header) + 8px);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
